*.DS_Store
*.d
*.o
*.prx
*.elf
*.sublime-workspace
EBOOT.PBP
PARAM.SFO
Makefile.cache
Source/SysPSP/DveMgr/pspDveManager.S
Source/SysPSP/DveMgr/pspDveManager_driver.S
Source/SysPSP/KernelButtonsPrx/imposectrl.S
Source/SysPSP/MediaEnginePRX/MediaEngine.S
DaedalusX64/
daedbuild/
build/
Dumps/
Roms
SaveGames/
out/
preferences.ini
rom.db
.svn/
Source/tmp
Source/build
Source/SysCTR/Resources/romfs.bin
Source/SysCTR/Resources/romfs/*
Source/SysCTR/Resources/*/*.*64
Source/SysCTR/Resources/*/dspfirm.cdc
Source/SysCTR/Resources/*/Roboto-Medium.ttf
Tools/*.exe
*/*/*/*.bin
Tools/*.a3a
Tools/*.bin
Data/
dist/